.App {
  text-align: center;
}

.Title {
  font-weight: bold;
}
.Formulaire{
  
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
.Info{
  
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.listUser{
  margin-top: 50px;
  margin-left: 8%;
  margin-right: 8%;
}